// src/assets/scss/fonts.scss

@font-face {
    font-family: '方正榜书行简体';
    src: url('/fonts/方正榜书行简体.TTF') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
